<!-- Usando a Gem Simple Form para desenhar os formulários -->
<%= simple_form_for(@material_handling) do |f| %>
  <%= f.error_notification %>
  <!-- Cria o campo principal do Handling Material (a data) -->
  <div class="form-inputs">
    <%= f.input :handling_date %>
  </div>

  <!-- Nested fields. Desenha os campos dos itens (ver _itens.html.erb e controllers/material_handlings action new) -->
  <!-- o partial irá precisar da variável item, então ela é passada com o nome f para a outra página -->
  <h2>Itens</h2>
  <%= f.simple_fields_for :handling_items do |item| %>
  	<%= render partial: 'itens', locals: { f: item } %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
