<%= simple_form_for(@material_handling, remote: true) do |f| %>

  		<%= f.error_notification %>
  		<div class="erro" style="display:none;"></div>
  		<div class="form-inputs">
    		<%= f.input :handling_date, label: "Data" %>
  		</div>
  		<h2>Itens de Movimentação</h2>

		
	<div id='nested-items'>
  		
		<%= f.simple_fields_for (:material_handling_items) do |item| %>
			<%= render partial: 'material_handling_item_fields', locals: {:f => item} %>
		<% end %>
	
	</div>
	

  	<div class="form-actions">
		<%= link_to_add_fields "Adicionar um novo item", f, :material_handling_items %>
    	<%= f.button :submit, "Salvar" %>
  	</div>


  	<%#Script para adicionar botoes no rodapé do modal form e atribuir respesctivas funcoes%>
	<script>
		$("#material_handling_form").dialog({
			buttons:{
						"Adicionar Item": function(){$("a.add-fields").click();}, 
						"Salvar": function(){$("input.btn").click();}
					}
		})	
	</script>
  

  	
<% end %>
