<!-- Usando a Gem Simple Form para desenhar os formulários -->
<%= simple_form_for(@material_handling) do |f| %>
  <%= f.error_notification %>
  <!-- Cria o campo principal do Handling Material (a data) -->
  <div class="form-inputs">
    <%= f.input :handling_date %>
  </div>
  
  <h2>Itens</h2>
  
  <%= f.simple_fields_for :handling_items do |item| %>
    <%= render partial: 'handling_item_fields', locals: { f: item } %>
  <% end %>

  <%= link_to_add_fields "Adicionar um novo item",  f, :handling_items %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
