<p id="notice"><%= notice %></p>

<p>
  <b>Handling date:</b>
  <%= @material_handling.handling_date %>
</p>

<ol>
	<% for items in @material_handling.handling_items %>
		<li><%= items.material_storage_location.material.name %> | <%= "Q: #{items.quantity.to_i} #{items.material_storage_location.material.unit.name}(s)" %> | <%= items.price %></li>
	<% end %>
</ol>	

<p><b>Total: </b><%= @material_handling.totalize %></p>

<div class="ajax-actions">
	<%= link_to 'Edit', edit_material_handling_path(@material_handling), remote: true %> |
	<%= link_to_function('x', "close_form()", class: "close") %>
</div>

