  	<div class="form-inputs nested">
  		<div class="input">
  			<%= label_tag "Local" %>
  			<%= select_tag 'Local', options_from_collection_for_select(@storage_locations, "id", "name"), class: "handling_material[local_id]" %>
  		</div>
  		<div class="input">
	  		<%= label_tag 'Material' %>
	  		<%= select_tag 'Material', options_from_collection_for_select(@materials, "id", "name"), class: "handling_material[material_id]" %>
	  	</div>
  		<%= f.input :quantity %>
  		<%= f.input :price %>
  		<%= link_to_remove_fields "x", f %>
  	</div>