<h2>Pontos de Estoque</h2>

<div id="storage_form"><%= render partial: "form" %></div>

<div class="pesquisa">
	<%= render partial: 'shared/form_search', locals: {path: storage_locations_path} %>
</div>

<div id="storages_list"><%= render partial: "storage_locations" %></div>
<%= will_paginate @storage_locations, class: "apple_pagination" %>
<%= button_to_function('Novo Ponto de Estoque', 'show_modal("#storage_form", "Adicionar Novo Ponto de Estoque", 190, 535)', class: "show-modal") %>

<br />
