<%= simple_form_for(@material, remote: true) do |f| %>
  <%= f.error_notification %>
  <div class="erro" style="display:none;"></div>

  <div class="form-inputs">
    <%= f.input :name, label: "Nome" %>
    <%= f.association :unit, label: "Unidade", include_blank: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Adicionar" %>
  </div>
<% end %>
