<h2>Materiais</h2>

<div id="material_form"><%= render partial: 'form' %></div>

<div class="pesquisa">
	<%= render partial: 'shared/form_search', locals: {path: materials_path} %>
</div>

<div id="materials_list"><%= render partial: 'materials' %></div>
<%= will_paginate @materials, class: "apple_pagination" %>
<%= link_to 'Novo Material', new_material_path, remote: true, class: "show-modal" %>
<br />