<h2>Materiais</h2>

<div id="material_form"><%= render partial: 'form' %></div>

<div class="pesquisa">
	<%= form_tag materials_path, method: 'get', id: "search" do %>
		<div class="inputs">
			<%= text_field_tag "pesquisa", params[:pesquisa], { class: 'search-input', autocomplete: 'off', placeholder: "Pesquisar..."} %>
			<%= button_to_function("x", "clear_field()", class: "clear-field") %>
		</div>
	<% end %>
</div>

<div id="materials_list"><%= render partial: 'materials' %></div>
<%= will_paginate @materials, class: "apple_pagination" %>
<%= link_to 'Novo Material', new_material_path, remote: true, class: "show-modal" %>
<br />