<%= simple_form_for(@material_storage_location, remote: true) do |f| %>
  <%= f.error_notification %>
  <div class="erro" style="display:none;"></div>

  <div class="form-inputs">
    <%= f.association :storage_location, label: "Local", include_blank: false %>
    <%= f.association :material, label: "Material", include_blank: false %>
    
    <%= f.input :quantity, label: "Quantidade" %>
    <%= f.input :price, label: "Preço" %>
  
  
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Salvar" %>
  </div>
<% end %>
