<%= simple_form_for(@material_storage_location) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :material_id %>
    <%= f.input :storage_location_id %>
    <%= f.input :batch_id %>
    <%= f.input :quantity %>
    <%= f.input :price %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
