<nav>
	<ul id="nav">
		<li id="link-inicio"><%= link_to 'Início', root_path %></li>
		<li id="link-materiais"><%= link_to 'Materiais', materials_path %></li>
		<li id="link-unidades"><%= link_to 'Unidades', units_path %></li>
		<li id="link-pontos"><%= link_to 'Pontos de Estoque', storage_locations_path %></li>
		<li id="link-estoque"><%= link_to 'Estoque', material_storage_locations_path %></li>
		<li id="link-entrada-saida"><%= link_to 'Entrada/Saída Itens', material_handlings_path %></li>
	</ul>
</nav>