<!DOCTYPE html>
<html>
<head>
  <title>Estoque</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
<!--  
	script comentado para ambiente de desenvolvimento, para poder usar quando sem internet
	<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>
	"jquery-ui-1.8.18.custom.min"
	"'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js'"
-->
<%= javascript_include_tag "jquery.min.js" %>
<%= javascript_include_tag "jquery-ui-1.8.18.custom.min" %>



  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
	<div class="main">
		<%= image_tag('logo_ror.png', { id: 'logo-ror', title: "Ruby on Rails 3.2" }) %>
		<%= link_to 'https://github.com/HolyTx/Estoque', target: '_blank' do %>
			<h1 title="Controle de Estoque em Rails 3">Controle de Estoque</h1>
		<% end %>
		<%= render 'layouts/nav' %>
		<div class="flash notice" style="display: none;"></div>
		<div class="content">
			<%= yield %>
		</div>
		</body>
	</div>
</div>
<footer>
	<p>Controle de estoque em Rails 3 - MAR/2012</p>
</footer>
</html>
